:root {
    --shade1: #FFF287;
    --shade2: #FF7D29;
    --shade3: #E71D36;
    --shade4: #772014;
    --shade5: #3F220F;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--shade2);
    overflow-y: scroll;
}

header {
    height: 5rem;
    width: 100vw;
    background-color: var(--shade4);
    position: fixed;
    top: 0;
    background-image: linear-gradient(rgba(255,0,0,0), rgba(255,0,0,0), rgba(255,0,0,0), var(--shade2)), url("./images/header_flames.jpg");
    background-size: auto 100%;
    background-repeat: repeat-x;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 5rem;
    height: inherit;
}

header nav button {
    padding: 0.5rem 2rem;
    border: none;
    background-color: var(--shade2);
    background: linear-gradient(var(--shade2), var(--shade2)) padding-box,
        linear-gradient(var(--shade3), var(--shade3), var(--shade3), var(--shade2), rgba(255,0,0,0)) border-box;
    border-radius: 1rem 1rem 0 0;
    border: 3px solid transparent;
    font-size: 2rem;
    font-weight: bold;
    color: var(--shade5);
}

.wrapper {
    margin: 5rem auto 0 auto;
    padding: 1.5rem 0;
    /*scrollbar-gutter: stable both-edges;*/
}

#content {
    justify-self: center;
    width: min(900px, 100%);
}

h1 {
    text-align: center;
    color: var(--shade5);
}

.chef {
    width: 50%;
    justify-self: center;
}

.menu-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    gap: 2rem;
    /*padding-top: 0.67em;*/
}

.menu-item {
    background-color: var(--shade3);
    border: 5px solid var(--shade4);
    border-radius: 5px;
    box-shadow: 3px 5px 5px rgb(0 0 0 / 0.4);
}

.menu-item h2 {
    color: var(--shade5);
    text-align: center;
    color: var(--shade1);
}

.menu-item button {
    width: 100%;
    background-color: var(--shade1);
    color: var(--shade5);
    font-weight: bold;
}