* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: tomato;
    overflow-y: scroll;
}

header {
    height: 5rem;
    width: 100vw;
    background-color: darkred;
    position: fixed;
    top: 0;
    background-image: url("./images/header_flames.jpg");
    background-size: auto 100%;
    background-repeat: repeat-x;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 5rem;
    height: inherit;
}

header nav button {
    padding: 0.5rem 2rem;
    border: none;
    background-color: tomato;
    border-radius: 1rem 1rem 0 0;
    font-size: 2rem;
    font-weight: bold;
}

.wrapper {
    margin: 5rem auto 0 auto;
    padding: 1.5rem 0;
    /*scrollbar-gutter: stable both-edges;*/
}

#content {
    justify-self: center;
    width: min(900px, 100%);
}

.menu-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    gap: 2rem;
    /*padding-top: 0.67em;*/
}

.menu-item {
    border: 3px solid black;
}