* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: salmon;
}

header {
    height: 5rem;
    width: 100vw;
    background-color: darkred;
    position: fixed;
    top: 0;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 5rem;
    height: inherit;
}

header nav button {
    padding: 0.5rem 2rem;
    border: none;
    background-color: lightsalmon;
    border-radius: 1rem 1rem 0 0;
    font-size: 2rem;
    font-weight: bold;
}

#content {
    height: calc(100vh - 5rem);
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
    background-color: lightsalmon;
    margin: 5rem auto 0 auto;
    max-width: 1200px;
}

.menu-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
}

.menu-item {
    border: 3px solid black;
    margin: 2rem;
}